DjangoWeb/__pycache__/__init__.cpython-36.pyc
DjangoWeb/__pycache__/settings.cpython-36.pyc
DjangoWeb/__pycache__/urls.cpython-36.pyc
DjangoWeb/__pycache__/wsgi.cpython-36.pyc
area/__pycache__/__init__.cpython-36.pyc
area/__pycache__/urls.cpython-36.pyc
area/__pycache__/views.cpython-36.pyc
