<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="#style.css">
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/login_page.css' %}">
      <link rel="icon" type="image/png" href="{% static 'images/Logo/epitech-logo-signature-noir.png' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>

      <form action="Loader" class="login-form">

  <h1>Login</h1>


  <div class="txt">
    <input type="mail">
    <span data-placeholder="Username"></span>
    </div>
  <div class="txt">
    <input type="Password">
    <span data-placeholder="Password"></span>
  </div>

  <div class="bottom-text">
    <h2>Don't have account? <a href="Register">Sign up</a></h2>
    </div>

    <input type="submit" class="button" value="Submit">


</form>

<script src="{% static 'js/login_page.js' %}"></script>

  </body>
</html>
