!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Register</title>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
      <link rel="stylesheet" href="https://kit.fontawesome.com/c609fbac99.js" crossorigin="anonymous">
      <link rel="icon" type="image/png" href="{% static 'images/Logo/epitech-logo-signature-noir.png' %}" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </head>
  <body>
      <form class="login-form" method="post">
        {% csrf_token %}
        <h1>Register</h1>

        <div class="txtb">
          {{ form.userName }}
          <span data-placeholder="Username"></span>
        </div>

        <div class="txtb">
          {{ form.email }}
          <span data-placeholder="Email"></span>
        </div>

        <div class="txtb">
          {{ form.password }}
          <span data-placeholder="Password"></span>
        </div>

        <div class="txtb">
          {{ form.passwordVerif }}
          <span data-placeholder="Password Verification"></span>
        </div>

        <h2>Or Connect with the services below</h2>

        <div class="s-m">
          <a href="http://facebook.com"><i class="fab fa-google"></i></a>
          <a href="http://office.com"><i class="fab fa-facebook"></i></a>
          <a href="http://accounts.google.com"><i class="fab fa-microsoft"></i></a>
        </div>

        <input type="submit" class="logbtn" value="Register" href="/">

      </form>
    
    <script src="{% static 'js/register.js' %}"></script>
  </body>
</html>
