<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_connection.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/Logo/epitech-logo-signature-noir.png' %}" />
    <script type="text/javascript" src="{% static 'js/data.json' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  </head>

<body>
<div class="image">
<img src="/static/images/icon/amazon-icon.png">
</div>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="w3-container">
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_Calendar_Alert'" id="button1" >Add Calendar Alert</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_new_music'" id="button2">Add new music</button></p>

</div>

<script type="text/javascript" src="{% static 'js/handleAuth.js' %}"></script>
<script type="text/javascript" src="{% static 'js/service_connection.js' %}"></script>
</body>
