<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/service_connection.css' %}">
  </head>

<body>
<h2>Services</h2>
<div class="w3-container">
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_Calendar_Alert'">Add Calendar Alert</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_new_music'">Add new music</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Follow_Back'">Follow Back</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_Calendar'">Add Calendar</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Check_Lastest'">Check Lastest</button></p>
  <p><button class="w3-button w3-black" onclick="window.location.href='/Page?Follow_Back'">Follow Back</button></p>
  <p><div class="circle"></div><button class="w3-button w3-black" onclick="window.location.href='/Page?Add_new_music'">Add new music</button></p>

</div>
<script src="{% static 'js/auth.js' %}"></script>
</body>
